<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO DASHBOARD</h1>

    <div>
        <%= users.map((user)=>{%>
            <h1><%= user.firstName %></h1>
            <p><%= user.lastName %></p>
            <p><%= user.email %></p>
        <%}) %>
    </div>
</body>
</html>