<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <form class="form" action="/register" method="post">
        <p class="title">Signup </p>
        <p class="message">Signup now and get full access to our app. </p>
            <div class="flex">
            <label>
                <input class="input" type="text" placeholder="" required="" name="firstName">
                <span>First Name</span>
            </label>
    
            <label>
                <input class="input" type="text" placeholder="" required="" name="lastName">
                <span>Last Name</span>
            </label>
        </div>  
                
        <label>
            <input class="input" type="email" placeholder="" required="" name="email">
            <span>Email</span>
        </label> 
            
        <label>
            <input class="input" type="password" placeholder="" required="" name="password">
            <span>Password</span>
        </label>
        <label>
            <input class="input" type="password" placeholder="" required="" name="confirmPassword">
            <span>Confirm password</span>
        </label>
        <button type="submit">Submit</button>
        <p class="signin">Already have an acount ? <a href="Sign-in">Signin</a> </p>
    </form>
</body>
</html>